<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Blog Title<%= ' - ' + current_article.title unless current_article.nil? %></title>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
    <%= stylesheet_link_tag "application" %>
    <%= stylesheet_link_tag "highlighting" %>
    <!-- <link href="https://fonts.googleapis.com/css?family=Overpass+Mono" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=Overpass+Mono|Questrial" rel="stylesheet">
  </head>
  <body>
    <div id="main" role="main">
      <div id="left-gutter">
        <p></p>
      </div>
      <div id="left">
        <div id="name">
          <div>HILARY</div>
          <div>S.WINN</div>
        </div>
        <div>
          <ul id="nav">
            <li><%= link_to 'ABOUT', '/2017/04/29/about-me.html', :relative => true %></li>
            <li><%= link_to 'BLOG', '/' %></li>
            <li><%= link_to 'GITHUB', 'https://github.com/hwinn4', :target => "_blank" %></li>
            <li><%= link_to 'LINKED IN', 'https://linkedin.com/in/hwinn4', :target => "_blank" %></li>
            <li><%= link_to 'INSTA', 'https://www.instagram.com/hwinn4/', :target => "_blank" %></li>
          </ul>
        </div>
        <div id="tags">
          <h6>Tags</h6>
          <ol>
            <% blog.tags.each do |tag, articles| %>
              <li><%= link_to "#{tag} (#{articles.size})", tag_path(tag) %></li>
            <% end %>
          </ol>
        </div>
        <div id="about-me-pic">
          <%= image_tag './images/me3.JPG' %>
        </div>
        <div id="about-me">
          <h6>I'm Hilary, a full-stack web developer. I enjoy writing Ruby, JavaScript, and Python. In my first career, I taught high school English and Software Engineering. I love to cook and read. I don't like to bake.</h6>

          <h6>I am currently a software engineer at <%= link_to 'Fuigo', 'https://fuigo.com', :target=>"_blank" %>. All opinions are my own.</h6>
        </div>
      </div>
      <div id="right">
        <div id="articles">
          <%= yield %>
        </div>
      </div>
      <div id="right-gutter">
        <p></p>
      </div>
    </div>
  </body>
</html>
